<!doctype html>

<html>
    <head>
      <title>Consent Form</title>
      <script src="static/jquery-min.js" type="text/lib/javascript"> </script>
      <script src="static/cardtask.js" type="text/js/javascript"> </script>
      <link rel=stylesheet href="static/css/task.css" type="text/css" media="screen">
      <script type="text/javascript">
          function onexit() {
            self.close()
          }
      </script>
    </head>
    <body>
      <div class="instruct" id="main">
            <h1>Consent Form</h1>
            <p class="warm">Hello there! Thank you for taking the time to
            participate in this experiment. Below is a consent form that
            describes the nature of the experiment, what to expect, and how you
            will be measured. Please take the time to read this over before
            deciding to participate in this experiment.</p>
            <div class="legal">
            <p> TITLE OF RESEARCH: Neural and computational mechanisms of selective attention in experience-based decision making
            </p>

            <p> INVESTIGATORS: Yael Niv, Reka Daniel-Weiner, Robert Wilson, Eran Eldar, Stephanie Chan, Angela Radulescu, Andra Geana, Yuan Chang Leong, Carl Nist-Lund, Peter Johnson, Angela Langdon, Marissa Applegate, Nicolas Schuck, Lauren Lazo
            </p>

            <p> The following informed consent is required by Princeton University for any person involved in a research study conducted by investigators at the University.  This study has been approved by the University's Institutional Review Board for Human Subjects. The study is funded by the National Institute of Health and the United States Department of Defense.  
            </p>

            <p>I understand that: </p>

            <ol>
              <li><p>I will be presented with a series of stimuli on a computer screen and asked to perform simple decisions in response to these stimuli. I will receive detailed instructions on how to perform the task, and there will be time for me to ask questions regarding the instructions. The activities in the study carry no risk to me as they only involve operating a desktop computer. The task involved in the experiment does require some mental effort. I will receive no direct benefit from this research, except in so far as I may learn something about psychology and may derive satisfaction from knowing that my participation has advanced scientific understanding of human cognition. I understand that the study staff will not make any clinical diagnosis based on results from this study.</p> </li>
              <li><p>My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.  My refusal to participate will not result in any penalty.</p></li>
              <li><p>By signing this agreement, I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</p></li>
              <li><p>Federal or DOD representatives may have access to research records for the purpose of protecting human subjects.</p></li>
            </ol>

          <p><a href="javascript:window.print()">Please print a copy of this consent document to keep.</a></p>
          </div>
          <div class="instructions warm">Do you understand and consent to the terms of the experiment explained above?</div>
          <input type="button" class="continue" id="IAgree" value="I Agree" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
          <input type="button" id="NoThanks" value="No Thanks" onclick="onexit()">
      </div>
    </body>
</html>
