
<div class="instruct" id="main">
	<h1>Instructions</h1>
	<div>
		<p>
			Welcome and thank you for volunteering! 
			In this experiment you will see displays like this one:	
		</p>

		<img id="logo" src="{{ server_location }}/static/images/stimuli/111.png" alt="stim1" />
		<img id="logo" src="{{ server_location }}/static/images/stimuli/233.png" alt="stim2" />
		<img id="logo" src="{{ server_location }}/static/images/stimuli/322.png" alt="stim3" />

		<p>
			Each object in these displays differ in:<br>
			1. Color (green, red or yellow)<br>
			2. Shape (square, circle or triangle)<br> 
			3. Texture (plaid, dots or waves) 
		</p>

		<p>
			On each trial of the experiment, you will choose one of the three objects and collect points points based on your choice. After each choice, you may receive either 1 or 0 points. At the end of the experiment a bonus will be calculated according to how many points you have earned in total. 
		</p>	

		<p>
			In each trial, you can choose the left, middle or right object by pressing the keys ''b'', ''n'', or ''m'' respectively.
		</p>	

		<p>
			There is some rule, but we won't tell you.
		</p>


	</div>
		<div class="prompt">When you're ready to continue, press <strong>Next</strong>.</div>

	<input type="button" class="continue" id="Next" value="Next">
</div>

